:root{
    --width: 300px;
    --padding: 10;
    --bgcolor: rgb(0,.0,.0,.1);
    --hovercolor: #222A3F;
    --width-collapsed: 50px;

}
body{
    background-image: url('../images/mountain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    /* margin-left: var(--width-collapsed); */
}
/* .body-expanded-fidepuntos{
    margin-left: var(--width);
} */
#side-menu-fidepuntos{
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}
#side-menu-fidepuntos a {
    color: white;
    text-decoration: none;
}
#side-menu-fidepuntos #header-menu-fidepuntos{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}
#side-menu-fidepuntos #header-menu-fidepuntos #title-menu-fidepuntos {
    box-sizing: border-box;
    overflow: hidden;
}
#profile-fidepuntos{
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}
#profile-fidepuntos #name-profile-fidepuntos{
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}
#menu-items-fidepuntos{
    overflow: hidden;
}
#item-fidepuntos{
    width: var(--width);
}
#icon-fidepuntos, .title-icon-fidepuntos{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}
#item-fidepuntos a{
    display: block;
}
#item-fidepuntos a:hover{
    background-color: var(--hovercolor);
}
.icon-fidepuntos{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
    display: inline-block;
}
.icon-fidepuntos i{
    font-size: 2em;
    padding-top: 0.5em;
}
.title-icon-fidepuntos{
    padding: var(--padding) 0;
}
.item-separador{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
}
.menu-expanded-fidepuntos{
    width: var(--width);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.menu-expanded-fidepuntos #header-menu-fidepuntos #title-menu-fidepuntos{
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: var(--padding);
}
.menu-expanded-fidepuntos #header-menu-fidepuntos #title-menu-fidepuntos span{
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
    display: inline-block;
}
.menu-collapsed-fidepuntos{
    width: var(--width-collapsed);
}
.menu-collapsed-fidepuntos #header-menu-fidepuntos #title-menu-fidepuntos {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
.menu-collapsed-fidepuntos #profile-fidepuntos  #name-profile-fidepuntos {
    display: none;
}
.menu-collapsed-fidepuntos #menu-items {
    width: 100px;
}
#perfil-profile-fidepuntos{
    font-size: 0.7em;
}
.item-lista-fidepuntos{
    text-align: end;
}
.formulario-login{
    background: rgb(0,.0,.0,.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,.0,.0,0.568);
    color: white;
}
.text-iniciar-sesion{
    color: white;
}
.form-control{
    /* background: rgb(0,.0,.0,.3); */
    border-style: none;
    transition: 0.5s ease-in;
    outline: none;
    box-shadow: none;
}
.form-control:focus{
    /* background: none; */
    outline: none;
    box-shadow: none;
}
.form-control::placeholder{
    color: white;
}
.ingresar{
    background: #349d61;
    padding: 10px;
    font-size: 16px;
    font-weight: 700 !important;
    color: white;
    box-shadow: 0 0 30px rgba(0,.0,.0,0.568);
    transition: 0.5s ease-in;
}
.ingresar:hover{
    color: white;
}
.recuperacion-contrasena{
    color: wheat;
    text-decoration-style:none ;
    text-decoration-line: none;
}
.recuperacion-contrasena:hover{
    color: wheat;
    text-decoration-style:none ;
    text-decoration-line: none;
    cursor: pointer;
}
.registrarse{
    color: wheat;
    text-decoration-style:none ;
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 700 !important;
    /* border: 2px solid white; */
    padding: 10px;
    border-radius: 10px;
    background: rgb(0,.0,.0,.5);
}
.registrarse:hover{
    color: wheat;
    text-decoration-style:none ;
    text-decoration-line: none;
    cursor: pointer;
}
.barra_menu{
    background: rgb(0,.0,.0,.1);
    padding: 15px;
    color: white;
}
.boton_menu{
    background: #349d61;
    padding: 8px;
    font-size: 12px;
    color: white;
}
.boton_menu:hover{
    color: white;
}
.titulo-dashboard{
    color: #4c3281;
}
.wrapper-fidepuntos {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.titulo-vista{
    color: #4c3281;
}
.encabezado_tabla{
    color: white;
    background-color: #4c3281;
}
.cuerpo_tabla{
    background: rgb(0,.0,.0,.7);
    color: white;
}
.btn-update{
    background-color: yellow;
}
.btn-ver{
    background-color: #3f9ae5;
}
.separador{
    background-color: #00adef;
}
.txt-encabezado-producto{
    color: white;
}
.txt-encabezado-producto:hover{
    color: white;
}
.card-producto{
    background: rgb(0,.0,.0,.7);
    border: solid #00adef;
}
